body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    display: block;
    background-color: rgb(243, 245, 243);
    margin: 20px 30%;
    padding: 10px;
    border: 2px solid green;
}
.title{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: green;
}

.placeholderDiv{
    margin: 10px 0;
    
}
.placeholderDiv input,textarea{
    width: 90%;
    display: block;
    margin: 5px 13px;
    padding: 10px 15px;
    font-size: 20px;
}

.placeholderDiv select{
    width: 95.5%;
    font-size: 20px;
    padding: 10px 15px;
    margin: 5px 13px;
}

.searchField{
    margin: 10px 0;
}
.searchField input{
    width: 90%;
    margin: 5px 13px;
    padding: 10px 15px;
    font-size: 20px;
}
.filterDiv{
    margin: 10px 13px;
}
.filterDiv button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.filterDiv button:hover{
    background-color: rgb(9, 204, 9);
}

.displayTask{
    margin: 10px 0;
}
.tasklist{
    list-style-type: none;
    display: grid;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.tasklist li{
    background-color: #f4f4f4;
    color: green;
    padding: 15px 10px;
    margin: 5px 10px;
    border: 2px solid green;
}

.tasklist li:hover{
    background-color: #dad5d5;
    border: none;
}